{extend name="common/base" /}

{block name="title"}SUST Sports 2018{/block}

{block name="css"}
<link rel="stylesheet" type="text/css" href="__CSS__/interaction_style.css" />
{/block}

{block name="js"}
<script src="__JS__/interaction.js"></script>
{/block}
{block name="body"}

<h3>->> 欢迎联系我们 <<-</h3>

<img style="width:90%;margin:auto;"  src="__CSS__/../img/logo2.jpg"/ class="img-responsive" alt="Responsive image">

<br/><br/>
<h4>->> 为你准备了小游戏 <<-</h4>

<div style="width:100%;height:360px;margin:auto;" class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src='http://h5-7k7k.92game.net/H5/4239-2.html'></iframe>
</div>

<br/><br/>
<h4>如果一个不够，那就两个！</h4>

<div style="width:100%;height:480px;margin:auto;" class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src='http://www.zzfriend.com/demo/youxi/m/wjhp/'></iframe>
</div>

{/block}
